<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Name="axioma" Id="*" UpgradeCode="1A7517BB-8819-4C2C-8AC9-34BF1644C18E" Language="1033" Codepage="1252" Version="0.4.1" Manufacturer="david072">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <Icon Id="axiomaIco" SourceFile=".\gui\assets\app_icon_256.ico"/>
        <WixVariable Id="WixUILicenseRtf" Value=".\gui\installers\wix\license.rtf"/>
        <Property Id="ARPPRODUCTICON" Value="axiomaIco"/>
        <MediaTemplate EmbedCab="yes"/>
        <UIRef Id="WixUI_Minimal"/>

        <Feature Id="ProductFeature" Title="GUIApp" Level="1">
            <ComponentRef Id="axiomaExe"/>
            <ComponentRef Id="axiomaShortcut"/>
            <ComponentRef Id="ModifyPathEnv"/>
        </Feature>

        <!-- Create directories -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="axiomaProgramFiles" Name="axioma"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="axiomaProgramMenu" Name="axioma"/>
            </Directory>
        </Directory>

        <!-- Application binaries -->
        <DirectoryRef Id="axiomaProgramFiles">
            <Component Id="axiomaExe" Guid="3d34e853-08cc-4123-8bb9-763de5252db6">
                <File Id="axiomaExeFile" Source=".\target\release\gui.exe" Name="axioma.exe" KeyPath="yes"/>
                <File Id="axiomaIconFile" Source=".\gui\assets\app_icon_256.ico" Name="app_icon_256.ico"/>
            </Component>
        </DirectoryRef>

        <!-- Application shortcut -->
        <DirectoryRef Id="axiomaProgramMenu">
            <Component Id="axiomaShortcut" Guid="9247c66c-6b65-4016-99b4-ca4d35506920">
                <Shortcut Id="axiomaShortcutFile" Name="axioma" Description="A scientific text calculator" Target="[axiomaProgramFiles]axioma.exe"/>
                <RemoveFolder Id="axiomaProgramMenu" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\axioma" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <!-- Add to PATH -->
        <DirectoryRef Id="axiomaProgramFiles">
            <Component Id="ModifyPathEnv" Guid="e070b107-d1d4-44b3-aeeb-3e7e3a39ec93" KeyPath="yes">
                <Environment Id="PathEnv" Value="[axiomaProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes"/>
            </Component>
        </DirectoryRef>
    </Product>
</Wix>